<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="col-xs-3">
    <div class="circle center">
      <p>Heard it from the greats</p>
</div>
  </div>
  <div class="col-xs-4 slogan center">
    Getting you into the minds of the greats sinces 2016
  </div>
  <div class="col-xs-5 center nav-links">
    <h5><%= link_to 'Contribute', "#" %></h5>
    <h5><%= link_to 'About', '#' %></h5>
  </div>
  <br class="clear"/>
</header>
<%= yield %>

</body>
</html>
