<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
  <div class="col-xs-3">
    <div class="circle center">
      <p>Heard it from the greats</p>
</div>
  </div>
  <div class="col-xs-6 center slogan ">
    Getting you into the minds of the greats sinces 2016
  </div>
  <div class="col-xs-3 center nav-links">
    <h4 class="right-divider"><%= link_to 'Contribute', "#" %></h4>
    <h4><%= link_to 'About', '#' %></h4>
  </div>
  <br class="clear"/>
</header>
<hr />
<%= yield %>

</body>
</html>
